
.content {
	margin:0;
	padiing:0;
	background : black;
	color: white;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
}



.logo_name{
	font-weight: bolder;	
	font-size: 40px;
}

.media-icons{
	display:flex;
}

.media-icons i {
	 margin-right: 20px;
	font-size: 30px;
}
 .link-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section {
    flex: 1;
	  padding: 10px;
    margin-bottom: 20px;
  }
  
  .section h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


footer {
    background-color: #333;
    color: #fff;
    padding: 5px 20px;
	
  }

.bottom-details {
    display: flex;
    justify-content: space-between;
	align-items:center
}

  
  